.candidate-login {
  width: 100%;

  &__container {
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background-color: #f5f6f8;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;

    &__left {
      background: #fff;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 660px;
      height: fit-content;
      box-shadow: 0 2px 4px 0 rgba(30, 34, 43, 0.1), 0 8px 8px -4px rgba(30, 34, 4, 0.1),
        0 12px 12px -8px rgba(30, 34, 43, 0.2);

      h3 {
        font: normal 36px "Cookie", cursive;
        span {
          color: #5383d3;
        }
      }

      &__logo {
        margin-bottom: 30px;
      }

      &__employer {
        font-size: 16px;
        color: #1e468c;
        cursor: pointer;
        text-decoration: underline;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background: #e8ecf2;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-top: 15px;
      }

      &__title {
        display: block;
        font-size: 42px;
        line-height: 44px;
        text-align: left;
        padding-left: 24px;
        padding-top: 24px;
        color: #0d3880;
        font-weight: 700;
      }

      &__link {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 10px;

        &__text {
          font-style: italic;
          font-size: 13px;
          color: $c-boulder;
        }
      }

      &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 24px;
        padding-bottom: 15px;

        label::before {
          display: none !important;
        }

        .ant-form-item-label {
          color: #1e222b;
          font-weight: 700;
          line-height: 24px;
          padding-bottom: 5px;

          .ant-form-item-required {
            font-size: 16px;
          }
        }

        &__input {
          height: 40px;
          border-radius: 4px;
          background: #fff;
          border: 1px solid rgba(113, 113, 113, 0.7);
        }

        &__btn {
          max-height: 42px;
          margin-top: 10px;
          font-weight: 500;
          font-size: 17px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 12px 0;
          border-radius: 4px;
          color: $c-white;
          background-image: linear-gradient(to right, #fd0585, #ec1685 22%, #df75e3 50%, #ec1685 78%, #fd0585 100%);
          transition: all 0.3s ease;
          background-size: 200% auto;
          width: 30%;

          &:hover {
            background-position: right center;
          }
        }

        &__with {
          font-size: 14px;
          position: relative;
          width: fit-content;
          align-self: center;
          padding: 10px 0;

          &::before {
            content: "";
            position: absolute;
            width: 60%;
            height: 1px;
            background: $c-scampi;
            top: 50%;
            right: 110%;
          }

          &::after {
            content: "";
            position: absolute;
            width: 60%;
            height: 1px;
            background: $c-scampi;
            top: 50%;
            left: 110%;
          }
        }

        &__social {
          display: flex;
          width: 100%;
          padding-top: 10px;
          padding-left: 24px;

          &__item {
            margin-bottom: 15px;
            font-weight: 500;
            display: flex;
            width: 100%;
            align-items: center;
            padding: 10px 20px;
            border-radius: 10px;
            color: $c-white;
            max-height: 42px;

            &--fb {
              background-color: $c-chambray;
              display: flex;
              justify-content: center;

              &__icon {
                font-size: 22px;
                padding-right: 20px;
              }
            }

            &--register {
              position: relative;
              font-size: 14px;
              padding-bottom: 20px;
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (min-width: 1441px) {
  .candidate-login__container__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1441px) {
  .hr-login__container__left {
    padding: 80px 120px 0 120px;
  }
}

@media (max-width: 768px) {
  .candidate-login__bg {
    display: none;
  }

  .candidate-login__container__left__form {
    margin: 0 auto;
  }

  .candidate-login__container__left {
    width: 100vw;
    padding: 80px 20% 0 20%;
  }
}

@media (max-width: 576px) {
  .candidate-login__container__left {
    padding: 90px 20px 0 20px;
  }

  .candidate-login__container__left__form__title {
    font-size: 22px;
  }
}
