  
{
  "extends": ["react-app", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "warn",
    "no-var": "warn",
    "arrow-body-style": ["error", "as-needed"],
    "quotes": "warn"
  }
}