.find-job {
  &__greeting {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 55px;
    background-color: rgb(39, 101, 207);
    color: $c-white;
    font-size: 16px;
    transition-delay: 0.3s;
    padding-left: 20px;
    margin-top: 10px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    &__pin{
      position: absolute;
     
      right: 20px;
      font-size: 25px;
    }
  }

  &__title{
    background-color: rgb(230, 236, 246);
    padding: 30px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
  }
}
