.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  &--light {
    border: none;
    box-shadow: none;

    & > .panel-body {
      padding: 30px;
    }
  }

  .panel-body {
    padding: 40px 30px 20px;
  }
}

.panel-body {
  padding: 15px;
}
