.hr-landing{
  #languageSelectorContainer {
      display: flex;
      justify-content: flex-end;
      margin-top: 25px;
      width: 95%;
    }
    #languageSelectorContainer #languageSelector {
      width: 120px;
    }
    .css-1bf4zdh {
      box-sizing: border-box;
      position: relative;
      z-index: 0;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      min-height: 42px;
      padding: 8px 40px 8px 12px;
      background-color: rgb(255, 255, 255);
      border-radius: 8px;
      border: 1px solid rgb(148, 148, 148);
      font-size: 16px;
      font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial,
        "Liberation Sans", Roboto, Noto, sans-serif;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 1.5;
      outline: none;
      user-select: none;
      transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
    .css-8vm539 {
      font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial,
        "Liberation Sans", Roboto, Noto, sans-serif;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      color: rgb(118, 118, 118);
      white-space: nowrap;
      text-overflow: clip;
      overflow: hidden;
      user-select: none;
    }
    #languageSelectorContainer #languageSelector #placeholder img {
      margin-right: 10px;
    }
    .css-5bafvi {
      width: 24px;
      height: 24px;
      display: flex;
      flex: 0 0 auto;
      position: absolute;
      top: 50%;
      right: 12px;
      color: rgb(45, 45, 45);
      transform: translateY(-50%);
    }
    .css-jphqc5 {
      background-color: rgb(255, 255, 255);
      border-color: rgb(148, 148, 148);
      border-width: 1px;
      border-style: solid;
      border-radius: 8px;
      color: rgb(45, 45, 45);
      line-height: 1.5;
      max-height: 264px;
      margin-top: 4px;
      overflow: hidden auto;
      min-width: 118px;
    }
    .css-1jql5on:last-of-type {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .css-1jql5on {
      position: relative;
      cursor: pointer;
      padding: 10px 12px;
      user-select: none;
      display: flex;
    }
    .bumblebee .hire-hero--text {
      text-align: center;
    }
    .hire-hero--text {
      position: relative;
      vertical-align: top;
      text-align: center;
    }
    .bumblebee h2 {
      font-weight: 700;
    }
    
    .hire-hero--text h1 {
      max-width: 600px;
    }
    .hire-hero--text * {
      margin: auto;
    }
    
    .bumblebee p.lead {
      font-size: 16px;
      line-height: 1.5 !important;
    }
    p.lead {
      color: #000;
      font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto,
        sans-serif;
      font-size: 1.25rem;
      letter-spacing: -0.1px;
      font-weight: 400;
      line-height: 1.3;
      padding: 2.5rem 0;
    }
    .icl-Button.icl-Button--primary {
      background-color: #2557a7;
      border: 1px solid #2557a7;
      border-radius: 8px;
      color: #fff;
    }
    .icl-Button.icl-Button--lg {
      padding: 13px 16px !important;
    }
    .icl-Button {
      border: 1px solid transparent;
      border-radius: 8px;
      cursor: pointer;
      margin: 0;
    }
    .icl-Button,
    .icl-Button--primary {
      margin: 0;
      text-align: center;
      background-color: #085ff7;
      border: 0.125rem solid #085ff7;
      border-radius: 6.25rem;
      background-repeat: repeat-x;
      cursor: pointer;
    }
    .icl-Button {
      align-items: center;
      display: inline-flex;
      flex-direction: row;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      justify-content: center;
      letter-spacing: normal;
      line-height: 1.5;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      width: auto;
    }
    .icl-Button--lg {
      min-width: 200px;
    }
    .icl-Button,
    .icl-Button--primary {
      box-sizing: border-box;
      display: inline-block;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      white-space: nowrap;
      -webkit-highlight: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-touch-callout: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .hire-hero-card {
      position: relative;
      border: 2px solid #ececec;
      border-radius: 5px;
      padding: 2rem 1.5rem 2.5rem;
      margin-bottom: 1.5rem;
    }
    
    .hire-hero-card-header h3 {
      display: inline-block;
      color: #085ff7;
    }
    ._2QIfI_4 {
      padding-right: 24px;
    }
    .FLByR_4 {
      padding-left: 24px;
    }
    ._2lrrP {
      margin: 0 auto;
    }
    ._3VCZm {
      width: 100%;
    }
    .hhBFx_4 {
      padding-top: 96px;
    }
    ._2QIfI_4 {
      padding-right: 24px;
    }
    .FLByR_4 {
      padding-left: 24px;
    }
    
    .bumblebee .hire-hero-card .hire-hero-card-body h4 {
      font-size: 24px;
      line-height: 1.25;
      padding-bottom: 20px;
      padding-top: 20px;
    
      font-weight: 700;
    }
    
    ._1HNvZ {
      text-align: center;
    }
    .FYwKg {
      outline: none;
      /* margin: 0; */
      padding: 0;
      border: 0;
      box-sizing: border-box;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      -webkit-tap-highlight-color: transparent;
    }
    .d7v3r {
      padding-top: 1px;
    }
    ._1HNvZ {
      text-align: center;
    }
    ._1QKvi_4:before {
      margin-top: -49px;
    }
    .d7v3r:before {
      content: "";
      display: block;
    }
    ._3nVJR_4 {
      font-weight: 500;
    }
    ._7dJpR_4 {
      padding-top: 48px;
    }
    .b1Kg1 {
      max-width: 540px;
      margin: 0 auto;
    }
    ._2OnNp_4 {
      padding-bottom: 96px;
    }
    
    ._7dJpR_4 {
      padding-top: 48px;
    }
    ._1uk_1 {
      min-width: 0;
    }
    ._3Ve9Z:first-child > ._1tfFt {
      padding-top: 0;
    }
    ._3hukI {
      max-width: 220px;
      text-align: center;
    }
    ._1_OYy,
    ._3hukI {
      margin: 0 auto;
    }
    .UJoTY_4:before {
      margin-top: -21px;
    }
    .d7v3r:before {
      content: "";
      display: block;
    }
    ._6Gmbl_4 {
      padding-top: 20px;
    }
    ._1_OYy {
      width: 100px;
      height: 85px;
    }
    ._2WTa0_4:after,
    ._2WTa0_4:before {
      content: "";
      display: block;
      height: 0;
    }
    ._2WTa0_4:before {
      margin-top: -0.384em;
    }
    ._2WTa0_4:after {
      margin-bottom: -0.4113em;
      content: "";
      display: block;
      height: 0;
    }
    ._7dJpR_4 {
      padding-top: 48px;
    }
    ._3i7ia {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    ._3Aa4F_4 {
      margin-left: -8px;
    }
    ._37N5v_4 {
      margin-left: 8px;
    }
    ._3RtnC_4 {
      margin-top: 8px;
    }
    ._1uk_1 {
      min-width: 0;
    }
    ._btn111 {
      box-shadow: inset 0 0 0 2px #2765cf;
      /* border: 2px #2765cf; */
      color: #2765cf;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      padding: 10px;
    }
    ._link111 {
      color: #2765cf;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      padding: 10px;
    }
    ._link111:hover {
      text-decoration: underline;
    }
    ._20Cd9_4 {
      border-radius: 2px;
    }
    ._28IEJ_4 {
      transition: -webkit-transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
      transition: transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
      transition: transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235),
        -webkit-transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);
    }
    ._2Nj6k {
      cursor: pointer;
    }
    ._20Cd9_4 {
      border-radius: 2px;
    }
    .bumblebee .hire-features h2 {
      line-height: 1.25;
      max-width: 720px;
      font-size: 44px;
      margin-left: 1.5rem;
    }
    .bumblebee .hire-features-card-wrapper .container .row {
      display: flex;
      flex-direction: column;
    }
    
    .hire-features p.lead {
      padding-bottom: 0;
    }
    .bumblebee .hire-features-card {
      flex-direction: column;
      max-width: 100%;
      padding-bottom: 16px;
      padding-top: 48px;
      width: auto;
    }
    .hire-features-card {
      position: relative;
      z-index: 2;
      min-height: 180px;
      padding-bottom: 80px;
      display: flex;
      box-sizing: border-box;
    }
    .hire-features-card-header {
      width: 100px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      vertical-align: top;
    }
    .bumblebee .hire-features-card-header img {
      max-height: 100%;
      max-width: 100%;
    }
    
    .hire-features-card-wrapper .container {
      position: relative;
      z-index: 2;
      margin: 0 1.5rem;
      overflow: hidden;
    }
    .bumblebee .hire-features-card-body {
      max-width: 280px;
    }
    .bumblebee .hire-features-card-header {
      margin-bottom: 32px;
      margin-left: 0;
      margin-right: 32px;
      height: 64px;
      width: 64px;
    }
    .hire-features-card-body {
      padding-bottom: 1.5rem;
    }
    .bumblebee .hire-features-card-body h4 {
      font-size: 28px;
      line-height: 1.25;
      margin-bottom: 16px;
      word-spacing: normal;
    
      font-weight: 700;
    }
    .bumblebee .hire-features-card-wrapper h4,
    .bumblebee .hire-features-card-wrapper p {
      color: #2d2d2d;
    }
    .bumblebee .hire-features-card-wrapper p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin: 0;
    }
    .hire-features-card-wrapper:after {
      left: 50%;
    }
    .hire-features-card-wrapper:after,
    .hire-features-card-wrapper:after {
      content: " ";
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
    }
    .bumblebee .hire-features-footer {
      margin-left: 0;
      padding-bottom: 48px;
      padding-top: 48px;
      text-align: center;
      width: auto;
    }
    .hire-features-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .bumblebee .hire-features-footer button {
      width: auto;
      min-width: 180px;
    }
    .bumblebee .hire-features-footer-text {
      line-height: 1.5 !important;
      padding-right: 0;
    }
    .bumblebee .hire-features-footer a {
      color: #2557a7;
      font-weight: 700;
      display: inline-flex;
      align-items: center;
      line-height: 1.5;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
    ._2QIfI_4 {
      padding-right: 24px;
    }
    .FLByR_4 {
      padding-left: 24px;
    }
    ._3ftyQ {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    ._3O7rA {
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
    ._1GAuD {
      height: 100%;
    }
    ._3gJU3_4 {
      padding-top: 32px;
    }
    ._3KSG8_4 {
      color: rgba(28, 28, 28, 0.6313725490196078);
    }
    ._3srVf_4 {
      padding: 0.05px 0;
    }
    ._8QVx6_4 {
      font-size: 18px;
      line-height: 28px;
    }
    ._29m7__4 {
      font-weight: 400;
    }
    ._2QIfI_4 {
      padding-right: 24px;
    }
    .FLByR_4 {
      padding-left: 24px;
    }
    ._3oVlh_4 {
      padding-bottom: 0;
    }
    ._3ZvRy_4 {
      max-width: 940px;
    }
    ._3Ve9Z:first-child > ._1tfFt {
      padding-top: 0;
    }
    .hLznC_4 {
      padding-left: 0;
    }
    .rNAgI {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    ._2Bz3E {
      display: block;
    }
    ._1GAuD {
      height: 100%;
    }
    ._15OcO_4 {
        background: #2765cf;
    }
    @media (min-width: 480px) {
      .bumblebee .hire-features-card {
        flex-direction: row;
        padding-bottom: 32px;
      }
      .bumblebee .hire-features-card-body {
        max-width: 332px;
      }
      .bumblebee .hire-features-card-wrapper .container {
        margin: 0 auto;
      }
      .bumblebee .hire-features-footer {
        margin-left: 80px;
        padding-left: 32px;
        text-align: left;
      }
    }
    @media (min-width: 30em) {
      .hire-hero--text .hire-hero-subtitle.en-subtitle {
        max-width: 440px;
      }
      .hire-features h2,
      .hire-features p.lead {
        margin-left: 1.5rem;
        max-width: 75%;
      }
      .hire-features-card-body {
        width: calc(100% - 105px - 2rem);
        display: inline-block;
        vertical-align: top;
      }
    }
    @media (min-width: 48em) {
      .hire-features-footer p {
        width: calc(100% - 155px - 3rem);
      }
      .hire-hero--text .hire-hero-subtitle p.lead.single-row {
        white-space: nowrap;
        letter-spacing: -0.1px;
        font-weight: 400;
      }
      p.lead {
        font-family: Helvetica Neue, Helvetica, Arial, Liberation Sans, Roboto, Noto,
          sans-serif;
        font-size: 1.4375rem;
        letter-spacing: -0.1px;
        font-weight: 400;
        line-height: 1.22;
      }
      .bumblebee .container {
        max-width: none;
        width: 720px;
        padding: 120px 0;
      }
      .hire-hero-card-wrapper {
        display: flex;
        flex-flow: row wrap;
        padding-top: 200px;
        width: calc(100% + 2rem);
        margin-left: -1rem;
      }
      .hire-hero-card-wrapper > * {
        flex: 1 1 0%;
        margin: 1rem;
      }
      .hire-hero-card-body p {
        min-height: 96px;
      }
      .hire-features-footer {
        padding-top: 1.5rem;
        flex-direction: row;
        align-items: center;
      }
      .hire-features-footer button.icl-Button {
        margin-right: 3rem;
      }
      .hire-features-footer button.icl-Button {
        margin-bottom: 0;
      }
    }
    @media (min-width: 80em) {
      .bumblebee .container {
        width: 1140px;
        padding: 140px 0 100px;
      }
    }
    @media (min-width: 768px) {
      .bumblebee p.lead {
        font-size: 20px;
      }
      .bumblebee .hire-features-card-wrapper .container {
        padding: 80px 0 80px 32px;
      }
      .bumblebee .hire-features-card-wrapper .container .row {
        flex-direction: row;
        justify-content: space-between;
      }
    }
    @media screen and (min-width: 740px) {
      ._1d5GB_4 {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
      ._2JU1c_4 {
        padding-top: 0;
      }
      ._1H36Y_4 {
        font-size: 28px;
        line-height: 36px;
    
        padding: 0.05px 0;
        font-weight: 500;
      }
      ._3XuYF_4 {
        padding-right: 32px;
      }
      ._85X-f_4 {
        padding-left: 48px;
      }
      ._2II51_4 {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
      }
      ._1FEyf_4 {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
      }
      ._85X-f_4 {
        padding-left: 48px;
      }
      ._1-_Yr_4 {
        margin-left: -48px;
      }
      ._1H36Y_4 {
        font-size: 28px;
        line-height: 36px;
      }
      ._1NXQv_4:after,
      ._1NXQv_4:before {
        content: "";
        display: block;
        height: 0;
      }
      .IC4bo_4 {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
      }
      ._2II51_4 {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
      }
    }
    @media (min-width: 992px) {
      .bumblebee .hire-hero--text h1 {
        font-size: 44px;
      }
      .bumblebee .hire-hero--text .subtitle p.lead {
        font-size: 24px;
      }
      .bumblebee .hire-hero-card .hire-hero-card-body h4 {
        font-size: 28px;
      }
      ._2OnNp_4 {
        padding-bottom: 96px;
      }
      .hhBFx_4 {
        padding-top: 96px;
      }
    }
    
}