.explore {
  background-color: #f2f4f7;
  position: relative;
  padding-bottom: 50px;

  &__title {
    position: relative;
    background-color: #0d3880;
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -40px;

    &__big {
      font-size: 42px;
      line-height: 44px;
      font-weight: 700;
      text-align: center;
      color: rgb(255, 255, 255);
      margin: 0px auto;
    }

    &__small {
      margin: 20px auto 30px;
      color: rgb(255, 255, 255);
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }

  &__content {
    background-color: #ffffff;
    position: relative;

    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;

    width: 100%;
    &__title {
      font-size: 34px;
      line-height: 40px;
      color: rgb(28, 28, 28);
      margin: 0px;
      font-weight: 700;
      min-height: 120px;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__key {
      display: flex;
      justify-content: center;
      width: 100%;

      p {
        width: 100%;
        text-align: center;
        background-color: rgb(39, 101, 207);
        border-radius: 50px;
        z-index: 0;
        color: $c-white;
        padding: 15px 80px;
        font-weight: 700;
        font-size: 18px;
      }
    }

    &__skills {
      &__intro {
        font-size: 17px;
        padding: 20px 0;
        color: rgb(28, 28, 28);
        line-height: 24px;
        font-weight: 400;
      }

      &__add {
        padding-bottom: 40px;
        margin-top: 20px;

        &__input,
        &__btn {
          border-radius: 40px !important;
        }

        &__input {
          background-color: rgb(247, 248, 250);
          padding-left: 20px;
        }
      }

      &__match {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;

        button {
          width: 200px;
        }
      }
    }

    &__match {
      border-top: 1px solid rgb(221, 227, 234);

      &__tabs {
        .child-tabs {
          justify-content: center;
          border: 1px solid rgb(221, 227, 234);
          border-radius: 50px;
          margin-bottom: 40px;

          .nav-item {
            min-height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #1c1c1c;
            background-color: $c-white;
            width: calc(100% / 3) !important;
            border-bottom: 1px solid rgb(221, 227, 234);
            font-size: 16px;
            line-height: 18px;

            &:hover {
              font-weight: 700;
              color: rgb(39, 101, 207);
              border: none;
              border-bottom: 1px solid rgb(221, 227, 234);
            }

            &:first-child {
              border-bottom-left-radius: 50px;
              border-top-left-radius: 50px;
              border-bottom: 1px solid rgb(221, 227, 234);
            }

            &:last-child {
              border-bottom-right-radius: 50px;
              border-top-right-radius: 50px;
              border-bottom: 1px solid rgb(221, 227, 234);
            }
          }

          .nav-link {
            // border-radius: 50px;
            // border-bottom-right-radius: 1px solid rgb(221, 227, 234);
          }
          .nav-link.active {
            border-radius: 50px;
            background-color: rgb(39, 101, 207);
            color: $c-white;
          }
        }
      }
    }
  }

  &__title-look {
    font-size: 28px;
    line-height: 36px;
    margin: 0px 0px 30px;
    color: rgb(28, 28, 28);
    font-weight: 700;
    margin-top: 50px;
  }

  &__title-sub {
    font-size: 16px;
    line-height: 24px;
    color: rgb(28, 28, 28);
    margin-bottom: 30px;
  }

  &-look__input {
    height: 50px;

    .css-yk16xz-control,
    .dropdown,
    .css-2b097c-container,
    .css-1pahdxg-control {
      height: 50px;
    }

    .css-g1d714-ValueContainer {
      padding-left: 50px;
    }

    .icon-select__control {
      height: 50px;
      padding-left: 20px;
    }

    .input-icon {
      padding-left: 10px;
    }
  }
}

.chip {
  display: flex;
  flex-wrap: wrap;

  .skill-editable {
    white-space: nowrap;
  }

  &__item {
    color: #1c1c1c;
    margin-right: 10px !important;
    margin-bottom: 20px;
    padding: 10px 8px 10px 15px;

    min-height: 40px;
    border-radius: 40px;
    line-height: 20px;
    background-color: rgb(247, 248, 250);

    &__content {
      margin-right: 10px;
    }

    &__delete {
      color: #7a7e85;
      :hover {
        color: #085ff7;
      }
    }
  }
}
