@import "./text.scss";
@import "./display.scss";

body {
  margin: 0;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-grey;
  font-size: 14px;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

.z-index-2 {
  z-index: 2;
}

.mb-8,
.my-8 {
  margin-bottom: 3.5rem !important;
}

.mb-6,
.my-6 {
  margin-bottom: 2.5rem !important;
}

a:hover {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

svg {
  vertical-align: unset;
}

.dashed-loading {
  position: relative;
  height: 25px;
  margin-left: 10px;
}

.dashed-loading:after,
.dashed-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.dashed-loading:before {
  z-index: 5;
  border: 3px dashed #13d2b8;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-animation: dashed 1s linear infinite;
  animation: dashed 1s linear infinite;
}

.dashed-loading:after {
  z-index: 10;
  border: 3px solid #13d2b8;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-animation: dashed 1s ease infinite;
  animation: dashed 1s ease infinite;
}

@keyframes dashed {
  to {
    transform: rotate(360deg);
  }
}

.ant-btn-primary {
  background-color: $primary;
  border-color: transparent;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: #0069d9;
    border-color: #0062cc;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
