.text-italic {
  font-style: italic;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #737373;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: $primary;
}

.text-danger {
  color: #e82f3a;
}

.text-bold {
  font-weight: 700 !important;
}
