.sim-job {
  padding: 20px 25px 10px 25px;
  color: $c-cod-gray;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 2px 3px 0 rgba(0, 106, 194, 0.2);
  transition: box-shadow 0.2s ease-in 0s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s,
    transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;

  &:hover {
    box-shadow: 0 4px 9px 0 rgba(0, 106, 194, 0.2);
    transform: translateY(-2px);

    .sim-job__top__info__title {
      color: rgb(39, 101, 207);
    }
  }

  &:not(:last-child) {
    border-bottom: 2px solid #eee;
  }

  &:nth-last-child(2) {
    border: none;
  }

  &__top {
    display: flex;
    justify-content: space-between;

    &__info {
      &__title {
        color: #333;
        font-size: 18px;
        font-weight: 700;
      }

      &__group {
        &__company {
          margin-right: 10px;
          color: #333;
          font-size: 13px;
          font-weight: 400;
        }

        &__contract {
          font-size: 13px;
        }
      }

      &__location {
        font-size: 13px;
        font-weight: 400;
        color: #333;
      }
    }

    &__logo {
      max-width: 70px;
      max-height: 70px;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__des {
      color: #666;
      font-size: 12px;
      font-weight: 400;
      width: 82%;

      &.show-less {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }
    }

    &__time {
      color: #999;
      font-size: 11px;
      font-weight: 400;
      text-align: right;
    }
  }
}
