.sim-job {
  padding: 20px 25px;
  // width: 100%;
  color: $c-cod-gray;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 2px solid #eee;
  }
  
  &:nth-last-child(2) {
    border: none;
  }

  &__top {
    display: flex;
    justify-content: space-between;

    &__info {
      &__title {
        color: #333;
        font-size: 17px;
        font-weight: 700;
      }

      &__group {
        &__company {
          margin-right: 10px;
          color: #333;
          font-size: 13px;
          font-weight: 400;
        }
      }

      &__location {
        font-size: 13px;
        font-weight: 400;
        color: #333;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    &__des {
      color: #666;
      font-size: 12px;
      font-weight: 400;
      width: 82%;
    }

    &__time {
      color: #999;
      font-size: 11px;
      font-weight: 400;
      text-align: right;
    }
  }
}
