.resumeIcon-docx {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='30' viewBox='0 0 22 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M0 2C0 0.89543 0.895431 0 2 0H12.6028C13.141 0 13.6566 0.216931 14.0328 0.601765L17.1111 3.75L21.43 8.16706C21.7954 8.54076 22 9.04264 22 9.56529V28C22 29.1046 21.1046 30 20 30H2C0.89543 30 0 29.1046 0 28V2Z' fill='%23E6E6E6'/%3E %3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='30'%3E %3Cpath d='M0 2C0 0.89543 0.89543 0 2 0H13.825C14.3633 0 14.8788 0.216931 15.2551 0.601765L17.7222 3.125L21.43 6.91706C21.7954 7.29076 22 7.79264 22 8.31529V28C22 29.1046 21.1046 30 20 30H2C0.89543 30 0 29.1046 0 28V2Z' fill='black'/%3E %3C/mask%3E %3Cg mask='url(%23mask0)'%3E %3Cpath d='M25.6667 10L12.2222 10L12.2222 -3.75L18.9444 3.125L25.6667 10Z' fill='%23CCCCCC'/%3E %3Crect y='20' width='22' height='10' fill='%231497FF'/%3E %3Cpath d='M3.04956 23.4343V26.4875H3.95093C4.41219 26.4875 4.73381 26.26 4.91577 25.8051C5.01522 25.5555 5.06494 25.2582 5.06494 24.9133C5.06494 24.4372 4.98983 24.0722 4.8396 23.8183C4.69149 23.5623 4.39526 23.4343 3.95093 23.4343H3.04956ZM4.11597 22.6218C4.40584 22.626 4.64705 22.6599 4.8396 22.7233C5.16756 22.8313 5.43311 23.0291 5.63623 23.3168C5.79915 23.5496 5.91024 23.8014 5.96948 24.0722C6.02873 24.3431 6.05835 24.6012 6.05835 24.8466C6.05835 25.4687 5.93351 25.9956 5.68384 26.4272C5.3453 27.0091 4.82267 27.3 4.11597 27.3H2.10059V22.6218H4.11597ZM8.86719 26.6018C9.25439 26.6018 9.5612 26.4589 9.7876 26.1733C10.0161 25.8876 10.1304 25.4814 10.1304 24.9545C10.1304 24.4298 10.0161 24.0246 9.7876 23.739C9.5612 23.4512 9.25439 23.3073 8.86719 23.3073C8.47998 23.3073 8.17106 23.4501 7.94043 23.7358C7.7098 24.0214 7.59448 24.4277 7.59448 24.9545C7.59448 25.4814 7.7098 25.8876 7.94043 26.1733C8.17106 26.4589 8.47998 26.6018 8.86719 26.6018ZM11.1079 24.9545C11.1079 25.7946 10.872 26.4378 10.4001 26.8842C10.0468 27.2482 9.53581 27.4301 8.86719 27.4301C8.19857 27.4301 7.68758 27.2482 7.33423 26.8842C6.86027 26.4378 6.62329 25.7946 6.62329 24.9545C6.62329 24.0976 6.86027 23.4544 7.33423 23.0249C7.68758 22.6609 8.19857 22.479 8.86719 22.479C9.53581 22.479 10.0468 22.6609 10.4001 23.0249C10.872 23.4544 11.1079 24.0976 11.1079 24.9545ZM11.6538 24.999C11.6538 24.1822 11.8728 23.5528 12.3108 23.1105C12.6917 22.7255 13.1762 22.5329 13.7644 22.5329C14.5515 22.5329 15.127 22.7911 15.491 23.3073C15.692 23.5972 15.7999 23.8881 15.8147 24.1801H14.8372C14.7737 23.9558 14.6922 23.7866 14.5928 23.6723C14.415 23.4692 14.1516 23.3676 13.8025 23.3676C13.447 23.3676 13.1667 23.5115 12.9614 23.7993C12.7562 24.0849 12.6536 24.4901 12.6536 25.0148C12.6536 25.5396 12.7615 25.9331 12.9773 26.1955C13.1952 26.4558 13.4714 26.5859 13.8057 26.5859C14.1484 26.5859 14.4097 26.4737 14.5896 26.2495C14.689 26.1289 14.7716 25.948 14.8372 25.7067H15.8052C15.7205 26.2167 15.5037 26.6314 15.1545 26.9509C14.8075 27.2704 14.3621 27.4301 13.8184 27.4301C13.1455 27.4301 12.6165 27.2143 12.2314 26.7827C11.8464 26.3489 11.6538 25.7543 11.6538 24.999ZM17.3 27.3H16.1638L17.6682 24.9165L16.2368 22.6218H17.4048L18.2395 24.142L19.0964 22.6218H20.2263L18.7949 24.8784L20.3152 27.3H19.1282L18.2395 25.7067L17.3 27.3Z' fill='white'/%3E %3Crect x='11' y='5' width='6.11111' height='6.25' fill='%23E6E6E6'/%3E %3Cpath d='M19.4831 5.42588C20.1021 6.05902 19.6536 7.125 18.7681 7.125L16.0333 7.125C15.481 7.125 15.0333 6.67728 15.0333 6.125L15.0333 3.3281C15.0333 2.43177 16.1217 1.9881 16.7483 2.62898L18.0889 4L19.4831 5.42588Z' fill='%23CCCCCC'/%3E %3C/g%3E %3Crect x='5.25555' width='9.77778' height='10' rx='1' fill='%23E6E6E6'/%3E %3Crect x='12.2222' y='7.125' width='9.77778' height='10' rx='1' fill='%23E6E6E6'/%3E %3Crect opacity='0.1' x='3' y='3' width='9' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='5' width='9' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='7' width='9' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='10' width='16' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='12' width='16' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='14' width='16' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='16' width='16' height='1' rx='0.5' fill='black'/%3E %3C/svg%3E");
}

.resumeIcon-pdf {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='30' viewBox='0 0 22 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M0 2C0 0.89543 0.895431 0 2 0H12.6028C13.141 0 13.6566 0.216931 14.0328 0.601765L17.1111 3.75L21.43 8.16706C21.7954 8.54076 22 9.04264 22 9.56529V28C22 29.1046 21.1046 30 20 30H2C0.89543 30 0 29.1046 0 28V2Z' fill='%23E6E6E6'/%3E %3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='22' height='30'%3E %3Cpath d='M0 2C0 0.89543 0.89543 0 2 0H13.825C14.3633 0 14.8788 0.216931 15.2551 0.601765L17.7222 3.125L21.43 6.91706C21.7954 7.29076 22 7.79264 22 8.31529V28C22 29.1046 21.1046 30 20 30H2C0.89543 30 0 29.1046 0 28V2Z' fill='black'/%3E %3C/mask%3E %3Cg mask='url(%23mask0)'%3E %3Cpath d='M25.6667 10L12.2222 10L12.2222 -3.75L18.9444 3.125L25.6667 10Z' fill='%23CCCCCC'/%3E %3Crect y='20' width='22' height='10' fill='%23E03400'/%3E %3Cpath d='M7.62622 24.1103C7.62622 23.867 7.56169 23.6935 7.43262 23.5898C7.30566 23.4861 7.12687 23.4343 6.89624 23.4343H5.98535V24.8117H6.89624C7.12687 24.8117 7.30566 24.7557 7.43262 24.6435C7.56169 24.5314 7.62622 24.3536 7.62622 24.1103ZM8.59424 24.104C8.59424 24.6562 8.45459 25.0466 8.17529 25.2751C7.896 25.5036 7.49715 25.6179 6.97876 25.6179H5.98535V27.3H5.01416V22.6218H7.05176C7.52148 22.6218 7.896 22.7424 8.17529 22.9836C8.45459 23.2248 8.59424 23.5983 8.59424 24.104ZM10.2764 23.4343V26.4875H11.1777C11.639 26.4875 11.9606 26.26 12.1426 25.8051C12.242 25.5555 12.2917 25.2582 12.2917 24.9133C12.2917 24.4372 12.2166 24.0722 12.0664 23.8183C11.9183 23.5623 11.6221 23.4343 11.1777 23.4343H10.2764ZM11.3428 22.6218C11.6326 22.626 11.8739 22.6599 12.0664 22.7233C12.3944 22.8313 12.6599 23.0291 12.863 23.3168C13.026 23.5496 13.137 23.8014 13.1963 24.0722C13.2555 24.3431 13.2852 24.6012 13.2852 24.8466C13.2852 25.4687 13.1603 25.9956 12.9106 26.4272C12.5721 27.0091 12.0495 27.3 11.3428 27.3H9.32739V22.6218H11.3428ZM14.0247 22.6281H17.3413V23.4501H14.9958V24.5261H17.0493V25.3386H14.9958V27.3H14.0247V22.6281Z' fill='white'/%3E %3Crect x='11' y='5' width='6.11111' height='6.25' fill='%23E6E6E6'/%3E %3Cpath d='M19.4831 5.42588C20.1021 6.05902 19.6536 7.125 18.7681 7.125L16.0333 7.125C15.481 7.125 15.0333 6.67728 15.0333 6.125L15.0333 3.3281C15.0333 2.43177 16.1217 1.9881 16.7483 2.62898L18.0889 4L19.4831 5.42588Z' fill='%23CCCCCC'/%3E %3C/g%3E %3Crect x='5.25555' width='9.77778' height='10' rx='1' fill='%23E6E6E6'/%3E %3Crect x='12.2222' y='7.125' width='9.77778' height='10' rx='1' fill='%23E6E6E6'/%3E %3Crect opacity='0.1' x='3' y='3' width='9' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='5' width='9' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='7' width='9' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='10' width='16' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='12' width='16' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='14' width='16' height='1' rx='0.5' fill='black'/%3E %3Crect opacity='0.1' x='3' y='16' width='16' height='1' rx='0.5' fill='black'/%3E %3C/svg%3E");
}

.resumeIcon-doc,
.resumeIcon-docx,
.resumeIcon-pdf {
  display: inline-block;
  background-repeat: no-repeat;
  min-width: 22px;
  min-height: 30px;
  width: 22px;
  height: 30px;
}

.resumeSelector-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #4b4b4b;
}

.resumeSelector-box {
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-top: 12px;

  &--selected {
    border-color: #155df3;
  }
}

.resumeSelector-information {
  padding: 14px;
  display: flex;
  cursor: pointer;
  background-color: #fff;
  border-radius: 2px;
}

.resumeSelector-resumeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #ececec;
  background: #fff;
}

.resumeSelector-resumeTitle {
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

.resumeSelector-itemTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.apply-headerContainer {
  display: inline-block;
  vertical-align: middle;
}

.apply-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  letter-spacing: 0;
}

.apply-subtitle {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
