#search-jobs {
  &.search-jobs-widget {
    background-color: #fff;
    padding-top: 20px;
    box-shadow: 0 2px 3px 0 rgba(91, 91, 91, 0.25);
    margin-top: 0;
    margin-bottom: 1rem;
    border-radius: 0;
  }
}
