#vjs-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 684px;
  width: 684px;
  box-shadow: none;
  border: 0.0625rem solid #d4d2d0 !important;
  border-radius: 0.5rem;
  margin: 1rem 0 1.5rem -0.5rem;
  position: fixed;
  transition: opacity 150ms ease-in-out;
  z-index: 1;

  #vjs-header {
    border-bottom: 0.0625rem solid #d4d2d0;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #fff;
    height: auto;
    position: relative;
    padding: 16px 24px;

    &.vjs-header-no-shadow {
      box-shadow: none !important;
    }

    #apply-button-container {
      margin-top: 0;
      margin-bottom: 0;

      .job-footer-button-row {
        margin-top: 10px;
      }
    }

    .job-footer-button-row {
      display: flex;
      align-items: flex-start;

      #state-picker-container {
        margin-top: 0;
      }
    }
  }

  #vjs-jobinfo,
  #vjs-jobtitle {
    color: #2d2d2d;
  }

  .view-apply-button {
    background-color: $primary;
    border: 0.0625rem solid transparent;
    color: #fff !important;
    box-shadow: none !important;
    border-radius: 0.5rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.5rem;
    padding: 0.5rem 1.5rem;
    margin-right: 16px;
    font-size: 18px;
    text-shadow: none;

    &:hover,
    &:focus {
      background-color: #0069d9 !important;
      border-color: #0062cc !important;
    }
  }

  .state-picker-button {
    border-radius: 0.5rem;
    background-color: #ececec;
    width: 2.75rem;
    height: 2.75rem;
    border: 0;

    &:hover,
    &:focus {
      background-color: #e3e3e3;
      box-shadow: inset 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.1) !important;
    }
  }
}

#vjs-header-jobinfo {
  display: flex;
  align-items: center;
}

#vjs-jobinfo {
  font-size: 12px;
  line-height: 1.25rem;
}

#vjs-jobtitle {
  line-height: 1.25rem;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 3px;
  margin-right: 30px;
}

#vjs-x {
  right: 10px;
  position: absolute;
  top: 10px;
  z-index: 1;

  .vjs-x-button-close {
    padding-left: unset;
    padding-right: unset;
  }
}

.CloseButton {
  cursor: pointer;
  background: none;
  border: none;
  float: right;
}

#state-picker-container.dd-wrapper {
  margin-right: 0;
}
