#searchContent {
  #resultCol {
    .result {
      padding: 1.25rem !important;
      border-top: 0.0625rem solid #d4d2d0;
      border-width: 0.0625rem;

      .job-detail {
        font-size: 0;
        width: 100%;

        .location {
          font-weight: normal;
        }
      }

      .company-name,
      .company-name a {
        line-height: 1.5rem;
        font-size: 16px;
        font-weight: 400;
        color: #2d2d2d;
        width: auto;
      }
    }

    .vjs-highlight {
      border: 0.0625rem solid #2557a7 !important;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    }

    .row.unifiedRow {
      font-size: 14px;
      color: #4b4b4b !important;

      & > .job-title {
        color: transparent;
        padding: 0;
        margin: 0;
        width: 100%;
      }

      .job-detail {
        padding: 0;
        margin: 0;
      }
    }

    .jobsearch-SerpJobCard {
      width: 100%;
      background-color: #fff;
    }

    .row {
      border: 0.0625rem solid #d4d2d0;
      margin: 0 0 0.5rem;
      position: relative;
      margin-right: 0 !important;
      border-radius: 0.5rem;

      p.jobtitle {
        color: #2d2d2d !important;
        text-decoration: none;
        line-height: 1.625rem !important;
        font-size: 20px;
        font-weight: 700;
        float: none;
        margin-bottom: 0;
      }

      .location {
        line-height: 1.5rem;
        font-size: 16px;
        display: block;
        white-space: nowrap;
      }

      .summary {
        color: #767676 !important;
        line-height: 1.25rem !important;
        padding-right: 0;
        padding-top: 1rem;
        font-size: 14px;
        margin: 0;

        &.show-less {
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
        }
      }
    }

    .jobsearch-SerpJobCard-footer {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;

      & > * {
        flex: 0 2 auto;
      }
    }

    .result-link-bar-container {
      padding: 0;
      padding-top: 0.75rem;
      display: inline-block;
      color: transparent;

      .result-link-bar {
        color: #6f6f6f;

        .date {
          line-height: 1.125rem;
          border-bottom: 0 !important;
          display: inline-block;
        }
      }
    }

    .job-reaction {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 16px;

      .job-reaction-love {
        border: none;
        background-color: #fff;
        width: 24px;
        position: absolute;
        right: 1rem;
        top: 0.625rem;

        .anticon-heart:hover {
          color: $primary;
        }
      }
    }
  }

  .salarySnippet {
    margin-top: 0;

    .salary {
      line-height: 1rem;
      display: inline-block;
      font-size: 16px;
      color: #000;

      .salaryText {
        line-height: 1rem;
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .salarySnippet.holisticSalary {
    padding-top: 0.75rem;
  }

  .holisticSalary {
    .salary {
      background-color: unset;
      padding: 0;
    }
  }
}

.job-detail {
  clear: both;
}

.company-name,
.location {
  display: inline-block;
}

.accessible-contrast-color-location {
  color: #2d2d2d !important;
}

.remote-bullet {
  font-size: 1rem;
  color: #2d2d2d;
  padding: 0 8px;
}

.contact-type {
  font-size: 16px;
  line-height: 1.5rem;
  color: #2d2d2d;
}

.no-wrap {
  white-space: nowrap;
}

.clickcard {
  cursor: pointer;
}
