.tag-input-wrapper {
  width: 100%;
  height: fit-content;
  min-height: 40px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
}

.my-tag {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  display: inline-block;
  height: auto;
  margin: 0 8px 0 0;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  opacity: 1;
  transition: all 0.3s;
}

.tag-input-selections {
  height: auto;
  max-width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;

  input {
    height: 100%;
    min-height: 30px;
    flex: 1;
    min-width: 10px;
  }
}
