.jb-detail {
  width: 100%;
  border-radius: 4px;

  td {
    border: 1px solid #e3e6f0;
  }
}

.jp-label {
  text-align: right;
  padding: 10px;
  width: 25%;
}

.jp-value {
  width: 75%;
  padding: 10px;

  p {
    margin-bottom: 0;
  }
}

.jp-summary {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.search-result {
  position: relative;
  min-height: 200px;

  .panel-body {
    padding: 0 !important;
  }

  .results-stats {
    padding: 10px 20px;
    border-bottom: 1px solid #e4e4e4;
  }

  .candidate {
    min-height: 160px;
    border-bottom: 1px solid #e4e4e4;
    padding: 20px;
    line-height: 1.7em;
    position: relative;
    padding-left: 140px;

    &:hover {
      background-color: rgba(237, 241, 245, 0.45);
    }
    .candidate-score {
      .ant-progress-inner {
        background-color: #dcdcdc;
      }
    }
  }

  .avatar {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;

    img {
      width: 100%;
    }
  }

  .name {
    font-size: 24px;
    color: #000;
    text-decoration: none;
    padding: 0;
  }

  .experience i,
  .education i {
    text-align: center;
    display: inline-block;
    width: 18px;
    margin-right: 5px;
  }

  .ant-pagination {
    margin: 20px;
  }
}

.panel-default {
  border-color: #e4e4e4;
}

.candidate-action-menu {
  position: absolute;
  right: 35px;
  bottom: 35px;
  padding: 8px 0;
  border: 1px solid #ececec;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-flow: column;
  min-width: 250px;
  z-index: 3;
  border-radius: 4px;
  text-align: left;
}

.candidate-action-btn {
  padding: 10px 20px;

  &:focus {
    outline: auto 1px !important;
    outline-color: #2557a7 !important;
  }
}

.candidate-action-item {
  padding: 8px 0 8px 16px;
  text-decoration: none;
  color: #2d2d2d;
  display: flex;
  align-items: center;
  max-height: 44px;
  border: none;
  background: #fff;

  &:hover {
    background-color: #eef1fe;
  }

  .candidate-action-item-text {
    margin-left: 10px;
    padding: 8px 0;
  }
}

#candidate-score {
  .ant-progress {
    width: 100%;

    .ant-progress-inner {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

#candidate-avatar {
  .avatar {
    width: 100%;
    height: auto;
    padding: 10px;
    overflow: hidden;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .name-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 20px;
    }
  }

  .button-group-btn {
    font-size: 14px;
    border: solid 1px #b9b9b9;
    border-radius: 3px;
    color: #212529;
    padding: 2px 10px;

    &:hover {
      background-color: white;
    }
  }
}

.candidate-tabs {
  display: flex;
  flex-direction: column;

  ul li a {
    padding: 15px;
    border: 0;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    color: #555;

    &:hover {
      border-bottom: 2px solid #2557a7;
    }
  }

  ul li.active a {
    color: #333333;
    border-bottom: 2px solid #2557a7;
    margin-right: 2px;
    margin-left: 2px;
  }

  ul li:first-child a {
    padding-left: 0;
    margin-left: 0;
  }

  ul li:last-child {
    margin-left: auto;
  }

  .j-nav-back-btn {
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }
}

.jp-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
