.career-role {
  background-color: #f2f4f7;

  &__container {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
  }

  &__row {
    height: 20px;
    background-color: rgb(10, 42, 96);
  }

  &__header {
    background-color: rgb(39, 101, 207);
    background-position: center top;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    &__title {
      font-size: 42px;
      line-height: 44px;
      font-weight: 700;
      text-align: center;
      color: rgb(255, 255, 255);
    }

    &__sub-title {
      margin: 20px auto 0px;
      color: rgb(255, 255, 255);
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }

  &__back {
    align-items: center;
    color: #1c1c1c;
    padding: 20px 0;
    width: fit-content;
    margin-left: 0px;

    &:hover {
      text-decoration: underline;
    }

    &__icon {
      color: #1c1c1c;
      margin-right: 10px;
    }

    span {
      font-size: 16px;
    }
  }

  &__general {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 30px 0;

    &__top {
      font-size: 18px;
      line-height: 26px;
      color: rgb(28, 28, 28);
      margin-bottom: 10px;
    }

    &__star {
      font-size: 18px;
      margin-right: 2px;
    }
  }

  &__detail {
    color: rgb(28, 28, 28);

    &__title {
      color: rgb(28, 28, 28);
      margin: 0px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;
    }

    &__description {
      text-align: center;
      margin: 0px 0px 20px;
      color: #1c1c1c;
      font-size: 16px;
      margin-bottom: 30px;
    }

    &__poster {
      margin-top: 30px;
      margin-bottom: 20px;
      // max-height: 326px;
      border-radius: 4px;

      img {
        object-fit: cover;
        border-radius: 4px;

        width: 100%;
      }
    }

    &__task {
      font-size: 24px;
      line-height: 30px;
      color: rgb(28, 28, 28);
      margin: 0px 0px 20px;
      font-weight: 700;
      margin-top: 60px;
    }

    &__list {
      list-style: none;
      padding-left: 0;

      &__item {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
        display: flex;

        &::before {
          content: "";
          border-radius: 50%;
          margin-top: 5px;
          background-color: rgb(0, 170, 178);
          flex-shrink: 0;

          display: block;
          height: 10px;
          width: 10px;
          margin-right: 15px;
        }
      }
    }

    &__text {
      color: #1c1c1c;
      font-size: 16px;
      margin-top: 35px;
    }
  }

  &__tabs {
    justify-content: center;
    border: 1px solid rgb(221, 227, 234);
    border-radius: 50px;
    margin-bottom: 40px;

    .nav-item {
      min-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #1c1c1c;
      background-color: $c-white;
      width: calc(100% / var(--sizeTab)) !important;
      border-bottom: 1px solid rgb(221, 227, 234);
      font-size: 16px;
      line-height: 18px;

      &:hover {
        font-weight: 700;
        color: rgb(39, 101, 207);
        border: none;
        border-bottom: 1px solid rgb(221, 227, 234);
      }

      &:first-child {
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        border-bottom: 1px solid rgb(221, 227, 234);
      }

      &:last-child {
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom: 1px solid rgb(221, 227, 234);
      }
    }

    .nav-link {
      // border-radius: 50px;
      // border-bottom-right-radius: 1px solid rgb(221, 227, 234);
    }
    .nav-link.active {
      border-radius: 50px;
      background-color: rgb(39, 101, 207);
      color: $c-white;
    }
  }

  &__become {
  }

  &__skills {
    &__title{
      text-align: center;
      font-weight: 600;
    }

    &__sub-title {
      text-align: center;
      font-size: 16px;
      width: fit-content;
      margin: 0 auto;
      margin-top: 40px;
      position: relative;
      
      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: -10px;
        display: block;
        height: calc(100% - 8px);
        border-left: 3px solid rgb(230, 2, 120);
      }
    }

    &__container{
      display: grid;
      grid-gap: 20px;
  
      grid-template-columns: repeat(3, 1fr);
      
      margin-top: 50px;

      &__item{
        color: #1c1c1c;
        width: 100%;
        min-height: 40px;
        line-height: 20px;
        background-color: rgb(230, 233, 240);
        border-radius: 40px;
        padding: 10px;
        align-items: center;
        padding-left: 30px;
        font-weight: 600;

        text-transform: capitalize;
      }
    }
  }

  &__skill-item{

  }
}

.career-earn {
  font-size: 20px;

  &__salary {
    text-align: center;
    font-size: 16px;
  }

  &__total {
    margin-top: 20px;
    justify-content: center;
    align-items: center;

    &__icon{
      color: rgb(0, 170, 178);
      margin-right: 10px;
      font-size: 28px;
    }
  }
}
