.profile__wrapper {
  &__info {
    padding: 20px;
    background-color: $c-white;

    &__general {
      display: flex;

      &__avatar {
        padding-right: 20px;

        img {
          border-radius: 50%;
          width: 83px;
          height: 83px;
          max-width: 150px;
          border-radius: 50%;
        }

        &__update {
          font-size: 11px;
          padding: 3px 5px;
          margin: 6px 0px;
          color: #777;
          font-style: italic;
        }
      }

      &__detail {
        p {
          margin: 0;
        }

        &__name {
          font-weight: 700;
          font-size: 20px;
        }

        &__note {
          font-size: 13px;
        }
      }
    }

    &__personal {
      margin-top: 20px;

      &__status {
        display: flex;

        strong {
          margin-right: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .ant-card-head-title {
    font-weight: 600;
  }

  .ant-btn,
  .ant-upload {
    width: 100%;
  }

  .ant-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
  }

  .ant-collapse-header{
    display: none;
  }
}

.loading-cv {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: black, $alpha: 0.2);
  z-index: 10000;
}

.seeking-loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.12);
  flex-direction: column;
}
