.profile__wrapper {
  .ant-card-head-title {
    font-weight: 600;
  }

  .ant-btn,
  .ant-upload {
    width: 100%;
  }

  .ant-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
  }
}
