.career-direction {
  &__title {
    color: rgb(28, 28, 28);
    margin: 0px;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
  }

  &__sub-title {
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

    &__item {
      min-width: 30%;
    }
  }

  &__list-grid {
    justify-items: center;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
  }

  .css-wryshy,
  [data-css-wryshy] {
    max-width: 940px;
    margin: 0px auto;
  }
  .css-16ul3l9,
  [data-css-16ul3l9] {
    margin-bottom: 50px;
  }
  .css-w7terr,
  [data-css-w7terr] {
    position: relative;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .css-jp3yaf,
  [data-css-jp3yaf] {
    position: relative;
    display: flex;
    color: rgb(28, 28, 28);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .css-jp3yaf,
  [data-css-jp3yaf] {
    position: relative;
    display: flex;
    color: #1c1c1c;
    background-color: white;
    border-radius: 8px;
    flex-direction: column;
  }
  .css-w7terr,
  [data-css-w7terr] {
    position: relative;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .css-16ul3l9,
  [data-css-16ul3l9] {
    margin-bottom: 50px;
  }
  .css-qsdgf9,
  [data-css-qsdgf9] {
    padding-left: 50px;
    padding-right: 50px;
  }
  .css-7b1cf9,
  [data-css-7b1cf9] {
    margin-bottom: 40px;
  }
  .css-7959d3,
  [data-css-7959d3] {
    color: rgb(28, 28, 28);
    margin: 0px;
    font-weight: 700;
  }
  .css-qsdgf9,
  [data-css-qsdgf9] {
    padding-left: 50px;
    padding-right: 50px;
  }
  .css-1n7jy4c,
  [data-css-1n7jy4c] {
    display: flex;
    margin: 0px -10px;
    flex-wrap: wrap;
    justify-content: unset;
  }
  .css-1amdh8c,
  [data-css-1amdh8c] {
    margin: 20px 0px 30px;
  }
  .css-qr6rkb,
  [data-css-qr6rkb] {
    display: block;
    height: 1px;
    border-width: 1px 0px 0px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-top-style: solid;
    border-top-color: rgb(221, 227, 234);
    padding: 0px;
  }
  .css-12cpa8r,
  [data-css-12cpa8r] {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .css-1aj6sdx,
  [data-css-1aj6sdx] {
    color: rgb(39, 101, 207);
    margin: 0px;
    font-weight: 500;
  }
  .css-1fljxvu,
  [data-css-1fljxvu] {
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .css-1i63fie,
  [data-css-1i63fie] {
    display: inline-flex;
    margin-left: 10px;
    -webkit-box-align: center;
    align-items: center;
    transition: -webkit-transform 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;
  }
  .css-1nvr5mv,
  [data-css-1nvr5mv] {
    transform: rotate(90deg);
  }
  .css-10i16e9,
  [data-css-10i16e9] {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: -webkit-transform 0.2s ease 0s, transform 0.2s ease 0s;
  }
  @media (min-width: 768px) {
    .css-7959d3,
    [data-css-7959d3] {
      font-size: 34px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
    .css-1tpa9ur,
    [data-css-1tpa9ur] {
      text-align: center;
      margin: 0px 0px 25px;
    }
  }

  .no-job {
    color: rgb(149, 86, 183);
    background-color: rgba(149, 86, 183, 0.05);
    padding: 40px 30px 50px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;

    &__title {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &__link {
        color: #9856b7;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  .uppercase {
    text-transform: capitalize;
  }

  .content-center {
    justify-content: center;
  }
}
