.explore-look {
  color: rgb(28, 28, 28);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 40px 50px 60px 50px;

  &__title {
    color: rgb(28, 28, 28);
    margin: 0px 0px 25px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  &__input {
    height: 50px;

    .icon-select__control {
      height: 50px;
      padding-left: 20px;
    }

    .input-icon {
      padding-left: 10px;
    }
  }

  &__btn {
    color: rgb(255, 255, 255);
    background-color: rgb(39, 101, 207);
    border-color: rgb(39, 101, 207);
    max-height: 50px;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    min-width: 110px;
    text-align: center;
    padding: 20px;
    box-shadow: none;
    border-radius: 4px;
    overflow: hidden;
    appearance: none;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: background-color 0.2s ease 0s, -webkit-transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235) 0s,
      transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235) 0s;

    &:hover {
      background-color: rgb(54, 114, 217);
      color: white;
    }
  }
}
