[class*="bg-overlay"] {
  position: relative;
  z-index: 1;
}

[class*="bg-overlay"]::before,
[class*="bg-overlay"]::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
}

.bg-overlay-dark-v1::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-img-hero-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.space-2 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.opacity-lg {
  opacity: 0.7 !important;
}

.opacity {
  opacity: 0.5 !important;
}

.letter-spacing-0_06 {
  letter-spacing: 0.06rem;
}

.gradient-light-v1 {
  background-image: linear-gradient(155deg, #f5f8fb 0%, #fff 50%);
  background-repeat: repeat-x;
}

.text-lh-xs {
  line-height: 1.2;
}

.link-dark {
  color: #151b26;

  &:hover {
    color: $primary;
  }
}

[class*="lift"] {
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.lift:focus,
.lift:hover {
  transform: translate3d(0, -3px, 0);
}

@media (min-width: 768px) {
  .w-md-80 {
    width: 80% !important;
  }
}

@media (min-width: 992px) {
  .space-3--lg {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .space-3-top--lg {
    padding-top: 8rem;
  }
}
