.ir-modal {
  border-radius: 3px;

  .btn-close {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    font-size: 18px;
  }

  .modal-body {
    padding: 0;
  }

  .nav.nav-tabs {
    width: 100%;
    padding: 15px 20px 0;
    background-color: #dfdfdf;
    margin-bottom: 0;

    a {
      text-align: center;
      margin-right: 5px;
      min-width: 150px;
      background-color: $primary;
      color: #fff;
    }
  }

  .nav-tabs > a.active {
    color: $primary;
  }

  .nav-tabs > a.active,
  .nav-tabs > a.active:focus,
  .nav-tabs > a.active:hover {
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }

  ul {
    margin: 0;
  }

  .tab-content {
    padding: 20px;
  }

  .text-note {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
  }
}
